Nama : Yodis Saputra

NIM : 221011401829

Kelas : 05TPLE016

In [15]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [16]:
# Task 1: Get all companies sorted by name in reverse order
# Tugas 1: Dapatkan daftar semua perusahaan dan urutan berdasarkan nama secara terbalik
sorted_companies = sorted([{'name': company['name']} for company in company_detail_list], key=lambda x: x['name'], reverse=True)

import json
formatted_output_task1 = json.dumps(sorted_companies, indent=4)
print(formatted_output_task1)

[
    {
        "name": "Company 3"
    },
    {
        "name": "Company 2"
    },
    {
        "name": "Company 1"
    }
]

In [17]:
# Task 2: Print all Domain value in every company
# Tugas 2: Cetak semua nilai domain pada setiap perusahaan
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [18]:
# Task 3: List all employees by company domain
# Tugas 3: Daftar karyawan berdasarkan domain perusahaan
import json

domain_employee_map = {}
for company in company_detail_list:
    employees = [emp['full_name'] for emp in employee_detail_list if emp['company'] == company['name']]
    domain_employee_map[company['domain']] = employees

print(json.dumps(domain_employee_map, indent=4))

{
    "Retail": [
        "John Doe",
        "Ying Han Tan",
        "Robert White"
    ],
    "Technology": [
        "Tom Smith",
        "Rubby Lee"
    ],
    "Healthcare": [
        "Andrew Sebastian",
        "Kenneth Ng"
    ]
}

In [19]:
# Task 4: Return employees with company country
# Tugas 4: Mengembalikan karyawan dengan negara perusahaan
import json

employees_with_country = [
    {
        'full_name': emp['full_name'],
        'company': emp['company'],
        'country': next(comp['country'] for comp in company_detail_list if comp['name'] == emp['company'])
    }
    for emp in employee_detail_list
]

print(json.dumps(employees_with_country, indent=4))

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Ying Han Tan",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Kenneth Ng",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Rubby Lee",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Robert White",
        "company": "Company 1",
        "country": "United States"
    }
]

In [20]:
# Task 5: Return companies with a number of employees' nationality
# Tugas 5: Mengembalikan perusahaan dengan jumlah kebangsaan karyawan
import json

company_nationality_map = []
for company in company_detail_list:
    nationality_count = {}
    employees = [emp for emp in employee_detail_list if emp['company'] == company['name']]
    for emp in employees:
        nationality = emp['nationality']
        nationality_count[nationality] = nationality_count.get(nationality, 0) + 1
    company_nationality_map.append({
        'company': company['name'],
        'employee_nationality': nationality_count
    })

print(json.dumps(company_nationality_map, indent=4))

[
    {
        "company": "Company 1",
        "employee_nationality": {
            "Australia": 2,
            "United Kingdom": 1
        }
    },
    {
        "company": "Company 2",
        "employee_nationality": {
            "United States": 1,
            "Hong Kong": 1
        }
    },
    {
        "company": "Company 3",
        "employee_nationality": {
            "United States": 2
        }
    }
]